@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-blue: #00aeef;
    --primary-blue-hover: #3dcaff;
    --primary-blue-active: #0062cc;

    --black: black;
    --black-hover: #333333;
    --black-active: black;

    --red: #f26c4f;
    --red-hover: #f58972;
    --red-active: #e52a20;

    --primary-blue-active-border: #7fbdff;

    --cupon-green: #d7f0ea;
    --cupon-light: white;
    --cupon-blue: #dff6fe;

    --text-gray: rgba(0, 0, 0, 0.4);
    --divider-gray: rgba(0, 0, 0, 0.1);

    --table-head: #e1e1e1;
}

.login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./bg.jpg');
    height: 100vh;
    background-size: cover;
    -webkit-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
}

.login {
    padding: 50px 30px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(14.2px);
    -webkit-backdrop-filter: blur(14.2px);
    width: 500px;
    position: absolute;
    overflow: hidden;

}


.login::before {
    content: '';
    width: 640px;
    background: inherit;
    position: absolute;
    right: -60px;
    bottom: -80px;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.3);
    filter: blur(40px);
}

.login-input{
    padding: 15px;
    width: 94%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border: none;
    transition: all .1s ease-in-out;
    outline-color: transparent
}

.login-input:focus{
    outline: none;
    outline: 3px solid var(--primary-blue-active-border);
}

.checkbox{
    align-items: center;
    display: flex;
}

input[type="checkbox" i] {
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
}

.checkbox label{
    font-weight: 600;
    align-items: center;
}

.login-options{
    align-items: center;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.showpassword{
    display: none;
}

.visible{
    display: block;
    height: 25px;
    width: 25px;
}

.hidden{
    display: none;
    height: 25px;
    width: 25px;
}

.showpassword-icon{
    position: absolute;
    top: 295px;
    left: 485px;

}
.checkbox input{
    font-weight: 600;
    width: 20px;
    height: 20px;
}

.login-btn{
    margin-top: 30px;
    width: 100%;
}


.login h1{
    text-align: center;
    margin: 0;
}

.login h3{
    margin-top: 30px;
}


body {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}



html {
    width: 100%;
}

section {
    margin-top: 100px;
}

/*General*/

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1500px;
    width: 100%;
}

.container-fluid {
    width: 100%;
}

/*button*/

.btn {
    background-color: transparent;
    outline: none;
    display: inline-block;
    border: none;
    text-decoration: none;
    padding: 14px 26px;
    font-weight: 600;
    font-size: 16px;
    transition: .1s linear;
    transition-property: background-color color;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.btn.rounded {
    border-radius: 30px;
}

/*button primary*/

.btn-primary {
    background-color: var(--primary-blue);
    color: white;
}

.btn-primary:hover {
    background-color: var(--primary-blue-hover);
}

.btn-primary:focus {
    outline: var(--primary-blue-active-border) 3px solid !important;
}

.btn-primary:active {
    background-color: var(--primary-blue-active);
}

/*button black*/

.btn-black {
    background-color: var(--black);
    color: white;
}

.btn-black:hover {
    background-color: var(--black-hover);
}

.btn-black:focus {
    outline: var(--primary-blue-active-border) 3px solid !important;
}

.btn-black:active {
    background-color: var(--black-active);
}

/*button red*/

.btn-red {
    background-color: var(--red);
    color: white;
}

.btn-red:hover {
    background-color: var(--red-hover);
}

.btn-red:focus {
    outline: var(--primary-blue-active-border) 3px solid !important;
}

.btn-red:active {
    background-color: var(--red-active);
}


/*button outline primary*/

.btn-outline-primary {
    background-color: transparent;
    color: var(--primary-blue);
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--primary-blue);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--primary-blue);
    box-shadow: inset 0px 0px 0px 2px var(--primary-blue);
}

.btn-outline-primary:hover {
    color: white;
    background-color: var(--primary-blue-hover);
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--primary-blue-hover);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--primary-blue-hover);
    box-shadow: inset 0px 0px 0px 2px var(--primary-blue-hover);
}

.btn-outline-primary:focus {
    outline: var(--primary-blue-active-border) 3px solid !important;

}

.btn-outline-primary:active {
    color: white;
    background-color: var(--primary-blue-active);
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--primary-blue-active);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--primary-blue-active);
    box-shadow: inset 0px 0px 0px 2px var(--primary-blue-active);
}

/*button outline black*/

.btn-outline-black {
    background-color: transparent;
    color: var(--black);
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--black);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--black);
    box-shadow: inset 0px 0px 0px 2px var(--black);
}

.btn-outline-black:hover {
    color: white;
    background-color: var(--black-hover);
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--black-hover);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--black-hover);
    box-shadow: inset 0px 0px 0px 2px var(--black-hover);
}

.btn-outline-black:focus {
    outline: var(--primary-blue-active-border) 3px solid !important;

}

.btn-outline-black:active {
    background-color: var(--black-active);
    color: white;
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--black);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--black);
    box-shadow: inset 0px 0px 0px 2px var(--black);
}

/*button outline red*/

.btn-outline-red {
    background-color: transparent;
    color: var(--red);
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--red);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--red);
    box-shadow: inset 0px 0px 0px 2px var(--red);
}

.btn-outline-red:hover {
    color: white;
    background-color: var(--red-hover);
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--red-hover);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--red-hover);
    box-shadow: inset 0px 0px 0px 2px var(--red-hover);
}

.btn-outline-red:focus {
    outline: var(--primary-blue-active-border) 3px solid !important;

}

.btn-outline-red:active {
    background-color: var(--red-active);
    color: white;
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--red-active);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--red-active);
    box-shadow: inset 0px 0px 0px 2px var(--red-active);
}


/*button nav*/

.btn-nav {
    text-transform: uppercase;
}

.btn-nav:hover {
    background-color: var(--primary-blue-hover);
    color: white;
}

.btn-nav:focus {
    background-color: var(--primary-blue-hover);
    color: white;
    outline: var(--primary-blue-active-border) 3px solid !important;
}

.btn-nav:active {
    background-color: var(--primary-blue-active);
}

/* Link  */

.link {
    text-decoration: none;
    transition: all .3s;
    font-weight: 600;
}

/* Link primary */

.link.link-primary {
    color: var(--primary-blue);
}

.link.link-primary:hover {
    color: var(--primary-blue-hover);
}

/* Link black */

.link.link-black {
    color: var(--black);
}

.link.link-black:hover {
    color: var(--black-hover);
}

/*Navbar*/

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-list {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    width: 100% !important;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
}

/* dropdown */

.dropdown-toggle.btn {
    padding: 14px 40px 14px 26px;
}

.dropdown-toggle::after {
    content: '';
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: black transparent transparent transparent;
    transition: transform 0.3s, border-color 0.3s;
}

.dropdown-toggle:hover::after {
    border-color: white transparent transparent transparent;
    border-width: 8px 5px 0 5px;
}

.dropdown-toggle:focus::after {
    border-color: white transparent transparent transparent;
    border-width: 8px 5px 0 5px;
}

.dropdown {
    position: relative;
}

.dropdown.active .dropdown-toggle::after {
    transform: translateY(-50%) rotate(180deg);
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 350px;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active>.dropdown-toggle+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-link {
    outline: none;
    font-weight: 600;
    color: var(--text-gray);
    text-decoration: none;
    transition: .2s linear;
}

.dropdown-link:focus {
    outline: none;
    color: var(--primary-blue);
}


.dropdown-link:not(:last-child) {
    padding-bottom: 15px;
}

.dropdown-link+.dropdown-link {
    border-top: var(--divider-gray) 1px solid;
    padding-top: 15px;
}


.dropdown-link:hover {
    color: var(--primary-blue);
    text-decoration: none;
}

.shadow-box {
    padding: 20px;
    -webkit-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-label {
    font-weight: 600;
    padding-bottom: 20px;
    display: block;
}

.custom-select-container,
.custom-select-value,
.custom-select-options,
.custom-select-option {
    box-sizing: border-box;
}


.custom-select-container {
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    transition: outline .1s linear;
    outline-color: transparent;
}

.custom-select-container:focus {

    outline: var(--primary-blue-active-border) 3px solid !important;
}

.custom-select-value {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    padding: 19px 31px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    border: none;
}

.custom-select-value::after {
    content: '';
    position: absolute;
    border: 8px solid transparent;
    border-top-color: black;
    right: 30px;
    top: 25px;
}

.custom-select-options {
    background-color: white;
    z-index: 1000;
    font-weight: 600;
    opacity: 0;
    position: absolute;
    padding: 20px;
    margin: 0;
    top: 60px;
    border: none;
    width: 100%;
    border-top: none;
    max-height: 300px;
    overflow-y: auto;
    -webkit-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    list-style-type: none;
    pointer-events: none;
    color: var(--text-gray);
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

}

.custom-select-options::-webkit-scrollbar {
    display: none;
}

.custom-select-options.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    display: block;

}

.custom-select-option {
    cursor: pointer;
    z-index: 1000;
}

.custom-select-option:focus {
    outline: none;
    color: var(--primary-blue);
}


.custom-select-option:not(:last-child) {
    padding-bottom: 15px;
}

.custom-select-option+.custom-select-option {
    border-top: var(--divider-gray) 1px solid;
    padding-top: 15px;
}

.custom-select-option:hover {
    color: var(--primary-blue);
}

.custom-select-option.selected {
    color: var(--primary-blue);
}

.custom-input-box{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 19px 31px 19px 31px;
    -webkit-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.15);
    background: white;
    transition: .1s linear;
    outline-color: transparent;
}

.custom-input {
    font-size: 16px;
    font-weight: 600;
    border: none;
    width: 80px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.1s;
    outline-color: transparent;
    text-align: end;
}


.custom-input-box:focus-within{
    outline: var(--primary-blue-active-border) 3px solid;
}

.custom-input-box i{
    color: var(--text-gray);
    padding-right: 30px;
}

/* cupon */

.cupon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 70px;
    align-items: start;
}

.cupon {
    position: relative;
}

.cupon-bg {
    width: 100%;
    height: 100%;
}

.cupon-content {
    box-sizing: border-box;
    padding: 25px 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.cupon-header {
    display: flex;
    justify-content: space-between;

}

.percentage {
    margin-left: 10px;
    border: solid 2px var(--primary-blue);
    border-radius: 50px;
    padding: 2px 8px;
}

.cupon-header-text {
    background-color: white;
    border-radius: 100px;
    border: var(--black) solid 2px;
    padding: 3px 3px 3px 12px;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 600;
}

.cupon-icon {
    height: 35px;
    width: 60px;
    background-color: var(--black-hover);
}

.cupon-title {
    font-size: 20px;
    line-height: 30px;
    margin-top: 45px;
    text-align: center;
    font-weight: 600;
}

.cupon-body {
    height: 145px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cupon-content {
    font-weight: 400;
}

.cupon-desc span {
    font-weight: 800;
}

.cupon-footer {}

.cupon-title span {
    color: var(--primary-blue);
}

.cupon-bg svg {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
    stroke: black; 
}

.cupon-bg:hover svg{
    
}

.cupon-bg.green svg path  {
    fill: var(--cupon-green);
 
}

.cupon-bg.light svg path {
    fill: var(--cupon-light);
}

.cupon-bg.blue svg path {
    fill: var(--cupon-blue);
}


/* webshop */

.table{
    width: 100%;
    border-spacing: 0px;
}

.table-header th{
    background-color: var(--table-head);
    padding: 15px !important;  
}

.ticket-image {
    width: 40px;
    height: 40px;
}

th:nth-child(1)
{
    width: 80px;
}

td:nth-child(1) {
    text-align: center;
    padding: 30px 0px 30px 0px;
}

td:nth-child(3), th:nth-child(3) {
    text-align: center;
    padding: 30px 0px 30px 0px;
    width: 150px;
}

td:nth-child(4), th:nth-child(4) {
    width: 250px;
    text-align: center;
    padding: 30px 0px 30px 0px;
}

tr:not(:last-child)
{
    border-bottom: 3px solid var(--text-gray);
}

.quantity-buttons{
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 2px 4px;
    border: 3px var(--black) solid;
    border-radius: 40px;
}

.quantity-buttons{
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 2px 4px;
    border: 3px var(--black) solid;
    border-radius: 40px;
}

.quantity-buttons input{
    border: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    width: 15px;
}

.quantity-buttons input:focus{
    outline: none;
}


.quantity-buttons button{
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: 0.1s; 
    cursor: pointer;
    align-items: center;
}

.quantity-buttons button:hover{
    color: var(--text-gray);
}